.std-margin{
    margin:20px 20px 20px 20px;
    text-align: left;
}
.lesson-title{
    margin: 15px 0px 0px 0px;
}
.card-box{
    margin-top: 15px!important;
    margin-bottom: 20px!important;
    /* background-color: whitesmoke!important; */

}
/* For demo */
.ant-carousel .slick-slide {
    height: 150px!important;
    background: whitesmoke;

  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  
  /* Custom Coloring */
  
  .ant-carousel .slick-dots li button {
    background: grey!important;
    opacity: 0.4;
  }
  
  .ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: #ff4ef6;
  }
.btn-ld{
    background-color: tomato!important;
    border: tomato!important;
    width: 100%;
    font-weight: 700!important;
}
.btn-ld:hover{
    background-color: grey!important;
    border: grey!important;
}
.ld-carousel{
    width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .lesson-title{
        font-size: 1.4rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {
    .lesson-title{
        font-size: 2rem;
    }
    .card-box{
        width: 100%;
        min-height: 300px;

    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}